{% extends "layouts/main.html" %}

{% block content %}
    <h1>Proyectos</h1>
    <a class="btn btn-primary text-end" href="{% url 'create_project' %}">Crear</a>
    <div class="my-4"></div>
    <div class="table-responsive">        
        <table class="table">
            <thead>
                <tr><th>Nombre</th></tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}