{% extends "layouts/main.html" %}

{% block content %}
    <h1>Tareas</h1>
    <button class="btn btn-primary text-end">Crear</button>
    <div class="my-4"></div>
    <div class="table-responsive">        
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Project</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.project.name }}</td>
                    <td class="pointer">{% if task.done %} ✅ {% else %} ☑️ {% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}